{% extends "base.html" %}

{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="{% url 'publications' pub_date %}">Каталог по дате публикации</a></h1>
        </div>
        <div class="content">
            {% for book in books %}
            <div class="book">
                <a href="{% url 'book' book.pub_date book.slug %}">
                    <h3>{{ book.name }}</h3>
                </a>
                <div class="author">Автор: {{ book.author }}</div>
                <div class="date">Дата публикации: {{ book.pub_date }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}